html, body {
    height: 100%;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
}
body{
    background: #176cac;
    background: -webkit-linear-gradient(to right, #246db4, #215a8d, #246ba8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #246db4, #215a8d, #246ba8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#login-container{
    text-align: center;
    height: 95%;
    display: flex;
    justify-content: center;
}
#login-box{
    width: 100px;
    align-self: center;
    min-width: 20%;
}
#login-title{
    font-size: 35px;
    color: white;
    font-weight: lighter;
}
#post_msg_erro{
    margin-bottom: 35px;
}
#btn-entrar{
    color: white;
    background: #e13939;
    border: white;
}
#btn-entrar:hover{
    background: #be2e2e;
}
#btn-entrar:active{
    background: #8f0c0c;
}

/*Footer*/
#footer{
    align-self:flex-end;
}
#footer-text{
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 0px 1000px #ffffff00 inset;
    transition: background-color 5000s ease-in-out 0s;
}
