<!--suppress SpellCheckingInspection -->
<html lang="br">
    <head>
        <meta charset="utf-8">
        <meta name="language" content="pt-br" />
        <meta http-equiv="content-language" content="pt-br">
        <meta name="robots" content="ALL">
        <meta name="author" content="Matheus Favero">
        <title>Autenticação</title>

        <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./css/login.css">
        <link href="css/formstyle.css" rel="stylesheet">
    </head>
    <body>
        <div id="login-container">

            <div id="login-box">

                <form method="post" href="{{ path('app_login') }}">

                    <!-- Cabeçalho -->
                    <div class="row" style="margin-bottom: 25px">
                        <div class="col">
                            <h5 id="login-title">GestorX</h5>
                        </div>
                    </div>

                    {% if error %}
                        <div class="row">
                            <div class="alert alert-warning align-items-center escondeElemento" id="post_msg_erro" role="alert">
                                <div>
                                    Credenciais invalidas, verifique os dados e tente novamente!
                                </div>
                            </div>
                        </div>';
                    {% endif %}

                    <!-- Formulario -->
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="floating-label">
                            <input class="floating-input input_color font" type="text" placeholder=" " id="user_fild_name" name="_username" value="{{ last_username }}" autocomplete="off" required>
                            <span class="highlight"></span>
                            <label>Usuario</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="floating-label">
                            <input class="floating-input input_color font" type="password" placeholder=" " id="user_fild_pass" name="_password" value="" autocomplete="off" required>
                            <span class="highlight"></span>
                            <label>Senha</label>
                        </div>
                    </div>

                    <!-- Ações  -->
                    <div class="row" style="margin-top: 10px;">
                        <button class="btn btn-lg" id="btn-entrar" type="submit" value="login">Entrar</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="footer">
            <h5 id="footer-text">GestorX - © Todos os Direitos Reservados</h5>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
</html>